<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Glyph Reference: <%= @category.title %></title>
    <%= erb :header %>
  </head>
  <body>

    <div id="content">
      <h1><%= @category.title %></h1>

      <% if @category.desc %>
      <p id="desc"><%= @category.desc %>
      <% end %>

      <% @category.list.each do |key, name, glyphs| %>
      <h2 id="<%= key %>"><%= name %></h2>
        <% glyphs.each do |glyph_line| %>
          <p>
          <% glyph_line.each do |glyph| %>
            <%= ViewUtils.link(glyph) %>
          <% end %>
        <% end %>
      <% end %>
    </div>

  </body>
</html>