<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Glyph Reference: <%= @glyph.title %></title>
    <%= erb :header %>
  </head>
  <body>

    <div id="content">
      <h1><%= @glyph.title %></h1>

      <div class="glyph head" data-name="<%= @glyph.symbol %>"></div>

      <div id="attributes">
      <% if @glyph.desc %>
      <p><%= @glyph.desc.gsub(/:([a-z-]+)/) { ViewUtils.link($1) } %>
      <% end %>

      <% unless @glyph.homographs.empty? %>
        <p>Homographs:
        <%= @glyph.homographs.map {|hgraph| ViewUtils.link(hgraph)}.join(',') %>
      <% end %>

      <% if @glyph.antonym %>
        <p>Antonym: <%= ViewUtils.link(@glyph.antonym) %>
      <% end %>

      <% if @glyph.shape %>
        <p>Shape: <%= ViewUtils.category_link(@glyph.shape, '/shapes', SHAPE_TYPES) %>
      <% end %>

      <% if @glyph.segments %>
        <p>Length: <%= ViewUtils.category_link(@glyph.segments, '/segments', SEGMENTS_CATEGORY) %>
      <% end %>

      <% unless @glyph.see_alsos.empty? %>
        <p>See also:
        <% if @glyph.see_alsos.length == 1 %>
          <%= @glyph.see_alsos.first %>
        <% else %>
          <ul>
            <% @glyph.see_alsos.each do |link| %>
            <li><%= link %>
            <% end %>
          </ul>
        <% end %>
      <% end %>

      <% unless @glyph.phrases.empty? %>
        <p>Associated phrase<%= @glyph.phrases.length > 1 ? 's' : ''%>:
          <ul>
            <% @glyph.phrases.each do |phrase| %>
            <li><%= phrase %>
            <% end %>
          </ul>
      <% end %>
      </div>

    </div>
  </body>
</html>