<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Glyph Reference: <%= @title %></title>
    <%= erb :header %>
  </head>
  <body>

    <div id="content">
      <h1><%= @header %></h1>

      <% if @desc then %>
      <p><%= @desc %></p>
      <% end %>

      <div id="large">
        <% @glyphs.each do |glyph| %>
          <a href="/glyphs/<%= glyph.symbol %>">
            <div class="glyph-container">
              <div class="glyph" data-name="<%= glyph.symbol %>"></div><br>
              <span class="glyph-name"><%= glyph.title.downcase %></span>
            </div>
          </a>
        <% end %>
      </div>
    </div>

  </body>
</html>
